<li class="cs-item item flexrow" data-entry-uuid="{{uuid}}" data-type="Item">
  <div class="cs-image">
    <img src="{{img}}" alt="{{name}}" loading="lazy" />
  </div>
  <div class="name">
    <a class="item-link">{{name}}</a>
  </div>
</li>
