<div id="compendium-search-app-content">
  <section class="compendium-search-filter">
    <div class="compendium-search-box">
      <label for="compendium-search-input">Search</label>
      <input type="search" id="compendium-search-input" />
    </div>
    <button data-action="rebuildIndex">Rebuild Index</button>
  </section>
  <section class="compendium-search-results">
    <p>Hello world</p>
  </section>
</div>
